// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

// Font Variables
$barlow-sans: "Barlow", sans-serif;
$fraunces-serif: "Fraunces", serif;

// Primary Colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%); // Graphic Design Text
$dark-blue: hsl(198, 62%, 26%); // Photography Text
$dark-cyan: hsl(168, 34%, 41%); // Footer Text
$light-cyan: hsl(167, 44%, 70%); // Footer Background

// Neutral Colors
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Hamburger Menu Sizing
$bar-width: 25px;
$bar-height: 3px;
$bar-spacing: 7px;
$animateTime: 0.2s;

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
